{% extends '::base.html.twig' %}

{% block meta %}

   <meta charset="utf-8">
   <title>{% block title %}Simple-blog - простой блог на Symfony2{% endblock %}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Описание главной">
   <meta name="author" content="">
{% endblock %}
