{% extends '::base.html.twig' %}


{% block text %}
    <div class="span8">
        <form action="{{ path('acme_blog_post_edit') }}/{{ id }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
    </div>
{% endblock %}

{% block pagination %}
{% endblock %}
