{% extends '::base.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <title>{% block title %}Удаление поста{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="удаление поста">
    <meta name="author" content="">
{% endblock %}

{% block text %}
    <div class="span8">
        <h3><p class="text-error">Пост удален!</p></h3>
    </div>
{% endblock %}


{% block pagination %}
{% endblock %}
