<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Simple-blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Simple-blog</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Вы зашли как <a href="#" class="navbar-link">Логин</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Главная</a></li>
                    <li><a href="#about">О нас</a></li>
                    <li><a href="#contact">Контакты</a></li>
                    <li><form class="navbar-search pull-left">
                            <input type="text" class="search-query" placeholder="Search">
                        </form></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid offset1">
    <div class="row-fluid">
        <div class="span11">
            <div class="hero-unit">
                <table>
                    <tr>
                        <td width="600"><p><h1>Привет, друг!</h1></p>
                            <p><small>Simple-blog - учебный проект на фреймворке Symfony 2</small></p>
                        </td>
                        <td><p><img src="img/symfony_logo.png"></p></td></tr>
                </table>

            </div>
            <div class="span11">
                <div class="span8">
                    <div class="page-header">
                        <h1>Simple-blogs - блог на Symfony 2</h1>
                    </div>
                    <ul class="nav nav-list">
                    <section id="overview">

                        <div class="page-header">
                            <h3>Symfony Live Portland 2013: The Schedule has finally been published!</h3>
                        </div>
                        The schedule for the Symfony Live conference in Portland has just been published! Have a look at the great schedule and register now to the Symfony Live Portland 2013!
                         </section>
                        <li class="divider"></li>
                    <section id="overview">

                        <div class="page-header">
                            <h3>A week of symfony #328 (8->14 April 2013)</h3>
                        </div>
                        This week, the Symfony project introduced Debug to its growing family of components. In addition, a code sprint for Symfony 2.3 took place to boost the development of the upcoming first LTS version of Symfony2.
                    </section>
                        <li class="divider"></li>
                    <section id="overview">

                        <div class="page-header">
                            <h3>Code Sprint for Symfony 2.3</h3>
                        </div>
                        Be prepared for the first Symfony 2.3 code sprint.
                    </section>
                        <li class="divider"></li>
                    </ul>
                    <div class="pagination">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span3 offset1">

                    <ul class="nav nav-list">
                        <li class="nav-header">Меню</li>
                        <li class="active"><a href="#">На главную</a></li>
                        <li><a href="#">Ссылка</a></li>
                        <li><a href="#">Ссылка</a></li>
                        <li><a href="#">Ссылка</a></li>
                        <li><a href="#">Ссылка</a></li>
                        <li class="nav-header">Облако тегов</li>
                        <li>разные теги бла бла бла</li>
                        <li class="nav-header">3 блок</li>
                        <li>не помню для чего</li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
